/* Global Styles*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'ABeeZee';

}

body, html {
  width: 100%;
  overflow-x: hidden;
}

@font-face {
  font-family: ABeeZee;
  src: url("../Images-Fonts/ABeeZee-Regular.ttf");
}

html{
  scroll-behavior: smooth;
}

.navbar {
  height: 80px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
    margin-left: 15px;
    width:auto;
    height: 50px;
}

.navbar ul{
  display: flex;
  align-items: center;
  gap: 15px;
  margin-right: 15px;
}

.navbar ul li a{
  text-decoration: none;
  color:#000000;
  letter-spacing: 1.5px;
  font-size: 16px;
  align-items: center;
}

.navbar ul li a:hover{
  color: #57C2AF;
  font-weight: bold;
  transition: .1s;
}

.navbar ul li a.active {
  color: #57C2AF;
  font-weight: bold;
}


/* Home Page Styles*/


.header {
    
    background: url(../Images-Fonts/niketh-vellanki-7FyzRTZYufY-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position:center;
    /* position:static; */
    /* width:auto; */
    height: 450px;
    text-align: center;
    color: #fff;
}

.header-text > h1 {
  padding: 170px 0px 20px 0px;
  font-weight: 500;
}

.header-text > p {
   margin: 10px 0px;
   font-weight: bold;
}

input {
    font-size: 1rem;
}

.carousel-container {
  display: flex;
  align-items: center;
  position: relative;
  /* justify-content: space-between; */
  margin-inline-start: 40px;
  /* margin-right:50px; */
  padding-right: 30px;
  width: 100%;
}

.carousel-arrow {
  background: none;
  border: none;
  color: #57c2ae;
  cursor: pointer;
  font-size: 28px;
  padding: 10px;
  margin-left: -40px;
  margin-right: 28px;
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  z-index: 1;
}

.left-arrow {
left: 10;
}

.right-arrow {
right: 10;
}

.trending__header {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    width: calc(100% - 80px); 
    gap: 50px;
    margin: 0 20px;
}

.search__input{
    width: 70%;
    height: 30px;
    border-radius: 6px;
    border: none;
    padding: 20px;
    top: 300px;
    margin-top: 10px;
}

.search__input::placeholder{
    color: #a29f9f;
}

.places {

   display: inline;
   text-align: center;
   border-radius: 12px;
   display: flex;
   gap: 1rem;
}

.left__col{
    display: flex;
    justify-content: flex-end;
}



.trending__img {
   height: 200px;
   width: 300px;
   border-radius: 10px;
}

.trending__img:hover{
  filter: brightness(0.6);
  transition: 0.5s;
}

.trending_title {
    margin-left: 50px;
    margin-top: 40px;
    color: #57C2AF
}

.trending__name{
    text-align: center;
    margin: 15px 0px;
    color: #322F2F;
}

.trending__name:hover{
  color: #57C2AF;
}

.trending__link{
    text-decoration: none;
}
  
footer {
    background-color: rgb(11, 93, 187);
    color: #bbb;
    margin-top: 80px;
    /* line-height: 1.5; */
  }

  .ft-title {
    color: #fff;
    font-family: 'ABeeZee';
    font-size: 1.375rem;
  }


.ft-main {
  height: 200px;
  display: flex;
}

.ft-main-item {
  display: flex;
  align-items: center;
}

.ft-legal {
  height: 50px;
  background-color: #322F2F;
  display: flex;
  width: auto;
}
.ft-legal-list {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* 
@media (max-width:768px){
    .menu{
        position: absolute;
        flex-direction: column;   
        background: gray;
        box-shadow: 0 3px 5px rgba(167, 67, 67, 0.4);
        top: 80px;
        left: 15%;
        right: 0%;
        width: 30%;
        height: 150px;
        text-align: center;
        transform: translateX(140%);
        transition: transform 0.3s ease-in;
        overflow: hidden;
     }
    .trending__header {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-items: center;
        margin-left: 50px;
        gap: 50px;
    }
    .img {
        width: 40px;
    }


      .line-1,.line-2,.line-3{
        display: block;
        margin: 5px auto;
        width: 30px;
        height: 3px;
        background-color: white;
        transition: 0.4s;  
      }
      .open .line-1{
       transform: rotate(45deg) translate(8px,3px) ;
      }
    
      .open .line-2{
       opacity: 0;
      }
    
      .open .line-3{
        transform: rotate(-45deg) translate(8px,-3px);
      }
      .menu.show{
        transform: translate(0%);
        color: rgb(203, 150, 150);
      }
      .nav-link::after{
       display: none;
      }

      .menu ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }
      
    .row {
      display: grid;
      grid-template-columns: repeat(2,1fr);
   
    }
    

} */

/* @media (max-width:450px){

    .trending_title{
        text-align: center;
    }
    
   .trending__header {
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        margin-left: 50px;
        gap: 50px;
    }

    .trending_attraction__title{
        text-align: center;
    }
   
    .row {
      display: grid;
      grid-template-columns: repeat(1,1fr);
   
    }
} */

@media only screen and (min-width: 477px ) {
    .ft-main {
      justify-content: space-evenly;
    }
  }
  @media only screen and (min-width: 1240px ) {
    .ft-main {
      justify-content: space-evenly;
    }

  }


  
.map_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.map {
    height: 50%;
    width: 80%;
    /* margin-left: 150px; */
    margin-top: 30px;
    display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: center;
}

/* .row {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  margin-left: 50px;
  margin-top: 20px;
  gap: 50px;
}

.card__img{
  display: flex;
  height: 250px;
  width: 250px;
  border-radius: 20px;

}

.card__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0px;
}

.card_title {
  width: 200px;
}

.alt_img{
  width: 30px;
  height: 30px;
} */

